

/* ****************
title
**************** */

.premier    { letter-spacing: 0.4em; }
.deuxieme   { letter-spacing: 1em; }
.troisieme  { letter-spacing: -0.05em; }
.quatrieme  { letter-spacing: 6px; }


/* ******************************************
GENERAL
****************************************** */
.wrap {
  width: 90%;
  max-width: 11000px;
  margin: 0 auto;
}


/* ******************************************
NAV
****************************************** */




/* ******************************************
HERO
****************************************** */
.hero {
  background-color: #999;
  padding: 80px 0px;
  height: 400px;
}

.button.success {
  background-color: purple;
}



/* ******************************************
MAIN SECTION
****************************************** */
.main {

}




/* ******************************************
FOOTER SECTION
****************************************** */
.footer {
height: 300px;
background-color: #999;
}
